/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --jost-font: "Jost", serif;
  --urbanist-font: "Urbanist", serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --white-clr: #fff;
  --black-clr: #000;
  --primary-clr: #ff6b00;
  --primary-text-clr: #101010;
  --secondary-bg-clr: #191919;
  --secondary-text-clr: #dddddd;
  --transparent-clr: transparent;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
.common_btn {
  padding: 15px 32px;
  font-family: var(--jost-font);
  color: var(--white-clr);
  font-size: 21px;
  font-weight: var(--medium-weight);
  line-height: 20px;
  border-radius: 6px;
  background-color: #ff6b00;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  border: 2px solid var(--primary-clr);
}
.common_btn:hover {
  color: var(--primary-clr);
  background-color: var(--transparent-clr);
}
/* ============= common css end here ================ */

/* ===================== navbar css start here ============== */
nav {
  padding: 25px 0;
  width: 100%;
}
.nav_wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
}
.nav_menu_wrapper {
  display: grid;
  grid-template-columns: repeat(7, auto);
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.nav_link {
  font-family: var(--jost-font);
  color: var(--primary-text-clr);
  font-size: 16px;
  font-weight: var(--regular-weight);
  line-height: 27.2px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.nav_link:hover{
  color: var(--primary-clr);
}
/* ===================== navbar css end here ============== */

/* ===================== section css start here ============== */

/* ===================== section css end here ============== */
