/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --jost-font: "Jost", serif;
  --urbanist-font: "Urbanist", serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --white-clr: #fff;
  --black-clr: #000;
  --primary-clr: #ff6b00;
  --primary-text-clr: #101010;
  --secondary-bg-clr: #191919;
  --secondary-text-clr: #606060;
  --transparent-clr: transparent;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
.common_btn {
  padding: 15px 32px;
  font-family: var(--jost-font);
  color: var(--white-clr);
  font-size: 21px;
  font-weight: var(--medium-weight);
  line-height: 20px;
  border-radius: 6px;
  background-color: #ff6b00;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  border: 2px solid var(--primary-clr);
}
.common_btn:hover {
  color: var(--primary-clr);
  background-color: var(--transparent-clr);
}
.common_section_sub_heading {
  font-family: var(--jost-font);
  color: var(--primary-text-clr);
  font-size: 16px;
  font-weight: var(--regular-weight);
  line-height: 27.2px;
  padding-left: 28px;
  position: relative;
  margin-bottom: 10px;
}
.common_section_sub_heading span {
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid var(--primary-text-clr);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.common_section_sub_heading span::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid var(--primary-text-clr);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.common_section_heading {
  font-family: var(--jost-font);
  color: var(--primary-text-clr);
  font-size: 70px;
  font-weight: var(--bold-weight);
  line-height: 95px;
}
.common_section_details {
  font-family: var(--jost-font);
  color: var(--secondary-text-clr);
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: 30.6px;
}

/* ============= common css end here ================ */

/* ===================== navbar css start here ============== */
nav {
  padding: 25px 0;
  width: 100%;
}
.nav_wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
}
.nav_menu_wrapper {
  display: grid;
  grid-template-columns: repeat(7, auto);
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.nav_link {
  font-family: var(--jost-font);
  color: var(--primary-text-clr);
  font-size: 16px;
  font-weight: var(--regular-weight);
  line-height: 27.2px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.nav_link:hover {
  color: var(--primary-clr);
}
/* ===================== navbar css end here ============== */

/* ===================== banner section css start here ============== */
#banner {
  background: linear-gradient(
    256deg,
    rgba(255, 195, 152, 0.2) 26.56%,
    rgba(255, 234, 190, 0.3) 100%
  );
}
.banner_section_wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}
#banner .common_section_details {
  max-width: 649px;
  padding: 46px 0 50px;
}
/* ===================== banner section css end here ============== */

/* ===================== about section css start here ============== */
#about {
  padding: 128px 0 132px;
}
.about_section_wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 111px;
}
#about .common_section_heading {
  padding-bottom: 20px;
}
#about .common_section_details {
  max-width: 645px;
}
.about_item_wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  gap: 30px;
  padding: 50px 0;
}
.about_item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}
.about_item h4 {
  color: var(--primary-clr);
  font-family: var(--jost-font);
  font-size: 21px;
  font-weight: var(--bold-weight);
  line-height: 150%;
}
.about_item h5 {
  color: var(--primary-text-clr);
  font-family: var(--jost-font);
  font-size: 21px;
  font-weight: var(--medium-weight);
  line-height: 20px;
}
.about_list_wrapper li {
  color: #000;
  font-family: var(--jost-font);
  font-size: 16px;
  font-weight: var(--regular-weight);
  line-height: 150%;
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative;
}
.about_list_wrapper li i {
  font-size: 14px;
  color: var(--primary-clr);
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#about .common_btn {
  margin-top: 30px;
}
/* ===================== about section css end here ============== */

/* ===================== service section css start here ============== */
#service {
  padding-bottom: 130px;
}
#service .common_section_heading,
#service .common_section_sub_heading {
  text-align: center;
}
#service .common_section_sub_heading span {
  left: 46%;
}
#service .common_section_heading {
  padding-bottom: 50px;
}
.service_item_wrapper {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, auto);
  justify-content: space-between;
  align-items: center;
  gap: 30px 24px;
}
.service_item {
  max-width: 312px;
  padding: 46px 30px 50px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #ffe2d1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.service_item:hover {
  background-color: #fff5ef;
}
.service_item_icon {
  font-size: 48px;
  font-weight: var(--light-weight);
  color: var(--primary-clr);
}
.service_item_name {
  font-family: var(--jost-font);
  color: var(--primary-text-clr);
  font-size: 24px;
  font-weight: var(--medium-weight);
  line-height: 31.2px;
  padding: 25px 0 13px;
}
.service_item_details {
  font-family: var(--jost-font);
  color: var(--secondary-text-clr);
  font-size: 16px;
  font-weight: var(--regular-weight);
  line-height: 27.2px;
}
/* ===================== service section css end here ============== */

/* ===================== section css start here ============== */

/* ===================== section css end here ============== */

/* ===================== section css start here ============== */

/* ===================== section css end here ============== */

/* ===================== section css start here ============== */

/* ===================== section css end here ============== */
